.scroll-content{
    background-color: cadetblue;
}
.info{
    font-size: 38px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 30%;
    color: blue;
}